In [28]:
# write a python program to sum all the items in a list.

x=[1,2,3,4,5,]
y=sum(x)
print("Sum of Elements in x:",y)

Sum of Elements in x: 15

In [2]:
# Write apython program to multiplies all the items in a list.

#Multiplication of elament in list
x=[1,2,3,4,5]
y=1
for i in x:
    y=y*i
print("Multiplication of Elements in x:",y)

Multiplication of Elements in x: 120

In [3]:
# Write a python program to get a list, sorted in increasing order by the last element in each tuple from a given list of 
#non-empty tuples

def last(n):
    return n[-1]

def incr(list):
    return sorted(list,key=last)

list=[(10,20),(30,40),(40,10),(24,34)]
print("after sorting=",incr(list))

after sorting= [(40, 10), (10, 20), (24, 34), (30, 40)]

In [5]:
#Write a python program to create a tuples.

A=("Tushar","tyBcs","shrirampur",413709)
print(A)

('Tushar', 'tyBcs', 'shrirampur', 413709)

In [6]:
# Write a python program to create a tuple with differnt data types.

#Numeric Tupple
A=(3,5,6,2,7,88,11,32,9)
print(A)
#Float Tuple
B=(2.7,12.5,62.6,28.6,12.01,33.5)
print(B)
#Character Tuple
C=("A","B","C","D","E","F")
print(C)
#String Tuple
D=("om","Tushar","sai","Ram")
print(D)
#Mixed Tuple
E=(1,"tushar","tyBcs","shrirampur",413709,70.60)
print(E)

(3, 5, 6, 2, 7, 88, 11, 32, 9)
(2.7, 12.5, 62.6, 28.6, 12.01, 33.5)
('A', 'B', 'C', 'D', 'E', 'F')
('om', 'Tushar', 'sai', 'Ram')
(1, 'tushar', 'tyBcs', 'shrirampur', 413709, 70.6)

In [7]:
# Write a python program to check whether an element exists within a tuple.

t=(1,2,3,4)
if(5 in  t):
    print("elements exit")
else:
    print("elemetnt doesnt exist")

elemetnt doesnt exist

In [9]:
# Write a python program to create a set.

A={1,2,3,4,5,6,7,8,9,10}
print(A)
B={"a","b","c","d","e","f","g","h"}
print(B)
C={"om","Tushar"}
print(C)
#Empty set                                
D={}
print(D)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'a', 'b', 'h', 'c', 'g', 'd', 'e', 'f'}
{'om', 'Tushar'}
{}

In [10]:
# Write a python progra to iterate over sets.

A={1,2,"rbnb",(1,5,6,9),"Tushar"}
print(A)
A.add(50)
A.update([5,6,7,8])
print(A)
A.discard("Tushar")
print(A)
A.remove(2)
print(A)
B={99,82,76,85,5,"rbnb",2}
C=A.union(B)
print(C)

{'rbnb', 1, 2, 'Tushar', (1, 5, 6, 9)}
{1, 2, 5, 6, 7, 8, 'Tushar', (1, 5, 6, 9), 'rbnb', 50}
{1, 2, 5, 6, 7, 8, (1, 5, 6, 9), 'rbnb', 50}
{1, 5, 6, 7, 8, (1, 5, 6, 9), 'rbnb', 50}
{'rbnb', 1, 2, 99, 5, 6, 7, 8, 76, (1, 5, 6, 9), 50, 82, 85}

In [11]:
#write python program to create set differnt.

A={1,22,52,62,23,4,86,5}
B={2,5,72,5,21,8,15,25,22,92,85}
print("Set A",A)
print("Set B",B)
C=A.difference(B)
print("Set difference between A and B",C)

Set A {1, 4, 5, 52, 22, 23, 86, 62}
Set B {2, 5, 72, 8, 15, 21, 22, 85, 25, 92}
Set difference between A and B {1, 4, 52, 86, 23, 62}

In [12]:
# Write a python script to sort(Ascending and Descending ) a dictionary by value.

import operator
d = {1: "Java", 2: "Python", 3: "PHP", 4: "Html", 5: "Data Science"}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 'Java', 2: 'Python', 3: 'PHP', 4: 'Html', 5: 'Data Science'}
Dictionary in ascending order by value :  [(5, 'Data Science'), (4, 'Html'), (1, 'Java'), (3, 'PHP'), (2, 'Python')]
Dictionary in descending order by value :  {2: 'Python', 3: 'PHP', 1: 'Java', 4: 'Html', 5: 'Data Science'}

In [13]:
# Write a python Script to add key to a dictionary.

A={"Name":"Tushar","Roll NO":3381,"add":"Shrirampur"}
A[5]:"Rbnb college Shriampur"
print("Updated A:",A)
A[1]:2589631479630.11346
print("Updated after adding 1:",A)

Updated A: {'Name': 'Tushar', 'Roll NO': 3381, 'add': 'Shrirampur'}
Updated after adding 1: {'Name': 'Tushar', 'Roll NO': 3381, 'add': 'Shrirampur'}

In [14]:
#Write a progran to iterate over dictionary using function.

d1={'name': 'tushar', 'age': 22, 'marks': 69}
for k,v in d1.items():
    print (k,v)

name tushar
age 22
marks 69

In [16]:
#Write a program to remove Duplicates from a list.

A=[2,3,5,4,4,4,4,5,5,6,9,8,7,3,2]
B=[]
for i in A:
   if i not in B:
       B.append(i)
print(B)

[2, 3, 5, 4, 6, 9, 8, 7]

In [17]:
# Write a python program to check a list is empty or not.

A=[]
B=len(A)
if(B==0):
    print("List is empty")
else:
    print("List contain elemants")

List is empty

In [18]:
# Write a python to convert a list to a tuples.

def convert(list):
    return tuple(list)
list = [1,2,3,4,5,6,7,8]
print(convert(list))

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
#Write a python program to remove an item from a tuple

a = (1, 2, 3, 4, 5)
b = a[:2] + a[3:]
print(b)

(1, 2, 4, 5)

In [20]:
#Write a python program to slice a tuple.

A= ('a','b','c','d','e','f','g','h','i','j')
print(A[0:6])
print(A[1:9:2])
print(A[-1:-5:-2])

('a', 'b', 'c', 'd', 'e', 'f')
('b', 'd', 'f', 'h')
('j', 'h')

In [21]:
# Write a python Program to find the length of tuple.

A=(1,2,3,4,5,6,7,8,9,0)
print("Lenght of tuple is:",len(A))

Lenght of tuple is: 10

In [22]:
#write a Python program to check if a set is subset of another set.

A={1,2,3,4,5,6,7,8,9,0}
B={1,2,3,4,5}
if(B.issubset(A)):
    print("B is subset of A")
else:
    print("B is not Subset of A")

B is subset of A

In [23]:
#Write a python program to find maximum and the minimum value in the set.

A={100,88,66,511,5,412,2,69,6,8}
B=max(A)   #use max(set) to find maximum element in set 
C=min(A)   #use min(set) to find minimum element in set
print("Maximum value in set is:",B)
print("Minimum value in set is:",C)

Maximum value in set is: 511
Minimum value in set is: 2

In [24]:
# Write a python program to find a length of set.

A={1,2,3,4,5,6,9,8,7,8,9,10}
B=len(A)
print("Lenght of set A is :",B)
#use len(set) function to find lenght of perticular set

Lenght of set A is : 10

In [25]:
# Write a python script to generate and print a dictionary that contains a number (between 1 & n)int the form (x,x*x).

n=int(input("Input a number "))
dict = dict()

for x in range(1,n+1):
    dict[x]=x*x

print(dict)

Input a number 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
# Wirte a python script to merge two python dictionaries.

A = {'a': 10, 'b': 20}
B = {'c': 30, 'd': 40}
A.update(B)
print(A)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}